.kaufman__triangle {
    background-size: cover;
    width: 877px;
    height: 877px;
    background-image: url(../../../images/kaufman/kaufman-triangle.svg);
    position: absolute;
    background-repeat: no-repeat;
    right: -210px;
    top: 0;
  }